.service-card{
  background-color: rgb(50, 50, 50);
  padding: 2em;
  border-radius: 15px;
  .title-container{
    .icon{
      width: 80px;
      height: 80px;
      background-size: cover;
      margin-bottom: 1.5em;
    }
    .title{
      p{
        color: white;
        font-size: 1.4em;
      }
    }
  }
  .description{
    p{
      color: var(--light-gray);
      font-size: 0.9em;
    }
  }
  .learn-more{
    p{
      cursor: pointer;
      color: var(--olive);
      display: block;
      text-align: center;
    }
  }
}